<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Проверка возраста</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: center; margin-top: 100px; font-family: sans-serif;">
        <h2>Для доступа к сайту подтвердите свой возраст</h2>
        <form action="/check-age" method="POST">
            <label>Введите ваш возраст: </label>
            <input type="number" name="user_age" required>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
