<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arseniy Goat</title>
</head>
<body>
    <h1>Arseniy goat!!!</h1>
    
    <div class="content-container">
        <div class="info-list">
            <div class="info-item">Арсений Петруша</div>
            <div class="info-item">174/14 см</div>
            <div class="info-item">60 кг</div>
        </div>
        
        <div class="photo-wrapper">
            <img src="/get-photo" alt="Arseniy Goat">
            <div class="phone-number">номер телефона:+375 (33) 647-94-61</div>
        </div>
    </div>
</body>
</html>
